.cart-page {
  margin: 0 auto;
  max-width: 1240px;
  padding: 80px 0 274px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  .cart-title {
    margin: 0;
  }
  .cart-summary {
    display: flex;

    ol {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .li-title {
      margin: 8px;
      font-weight: 400;

      &.total {
        font-weight: 500;
      }
    }

    .li-data {
      margin: 8px;
      font-weight: 700;
    }
  }

  .btn-container {
    margin-top: 20px;
    width: 279px;
  }
}
