.cart-page {
  padding: 80px 100px 274px 100px;

  .cart-title {
    margin: 0;
  }
  .cart-summary {
    display: flex;

    ol {
      padding: 0;
      list-style: none;
    }

    .li-title {
      margin: 8px;
      font-weight: 400;

      &.total {
        font-weight: 500;
      }
    }

    .li-data {
      margin: 8px;
      font-weight: 700;
    }
  }

  .btn-container {
    width: 279px;
  }
}
