.navigation {
  max-width: 1240px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  .nav-links-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .actions-container {
    display: flex;
    align-items: center;
    gap: 22px;
    width: 224px;
    height: 100%;
    right: 101px;
  }
}
