.products-container {
    background-color: #ffffff;
    font-family: "Raleway";
    display: grid;
    grid-template-columns: 386px 386px 386px;
    column-gap: 40px;
    row-gap: 103px;
    margin: 0 100px 190px;
  }