header {
  height: 100px;
}

main {
  //width: 1440px;
  //height: 1433px;
  //margin: 0;
  font-family: "Raleway";
}

.category-name {
  //width: 299px;
  height: 68px;
  font-weight: 400;
  font-size: 42px;
  display: flex;
  align-items: center;
  color: #1d1f22;
  margin: 80px 1040px 103px 101px;
}